---
import * as typographyStyles from "gu-ds-css/output/typography.module.css";
import HexFormatter from "./HexFormatter.astro";
import classNames from "./colors.module.css";

interface Props {
  categoryName: string;
  tokenKey: string;
  hex: string;
}

const { categoryName, tokenKey, hex } = Astro.props;
---

<div class={classNames.colorBox}>
  <div
    class={`${classNames.color} ${
      tokenKey === "white" ? classNames.colorBorder : ""
    }`}
    style={{ backgroundColor: hex }}
  >
  </div>
  <div class={classNames.colorInfo}>
    <h4 class={typographyStyles.headingXs}>{tokenKey}</h4>
    <p>
      <div class={classNames.infoHeader}>
        <div class={typographyStyles.contentBadge}>Hex</div>
        <button
          class={classNames.copyButton}
          onClick={() => navigator.clipboard.writeText(hex)}
        >
          Kopier
        </button>
      </div>
      <div class={typographyStyles.contentBody}>
        <HexFormatter hex={hex} />
      </div>
    </p>
    <p>
      <div class={classNames.infoHeader}>
        <div class={typographyStyles.contentBadge}>Token</div>
        <button
          class={classNames.copyButton}
          onClick={() =>
            navigator.clipboard.writeText(
              `tokens.primitives.color.${categoryName}.${tokenKey}`
            )}
        >
          Kopier
        </button>
      </div>
      <div class={typographyStyles.contentBody}>
        {categoryName}.{tokenKey}
      </div>
    </p>
  </div>
</div>
